<h1> LASTFM + YOUTUBE </h1>
<%= render 'form' %>
<% if @songs  %>
	<% @songs.each do |track| %>
	<li><%=link_to track , 'https://www.youtube.com/results?search_query='+"#{track}"  %></li>
	<% end %> 
<% end %> 
