/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";
@import "social-share-button";
@import "font-awesome";





.active {
   background-color: black;
}



body,html  {

background-color: #black;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23033355' cx='50' cy='0' r='50'/%3E%3Cg fill='%23193759' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23273b5c' cx='50' cy='100' r='50'/%3E%3Cg fill='%23333e60' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d4263' cx='50' cy='200' r='50'/%3E%3Cg fill='%23464766' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%234f4b69' cx='50' cy='300' r='50'/%3E%3Cg fill='%23584f6c' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2360546e' cx='50' cy='400' r='50'/%3E%3Cg fill='%23685971' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f5e74' cx='50' cy='500' r='50'/%3E%3Cg fill='%23766377' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237c687a' cx='50' cy='600' r='50'/%3E%3Cg fill='%23826e7d' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23887381' cx='50' cy='700' r='50'/%3E%3Cg fill='%238e7984' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23937f88' cx='50' cy='800' r='50'/%3E%3Cg fill='%2398858c' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%239d8b90' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a29295' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a6989a' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-position: center;
}




.form {
	
  display:block;
  width:50%;
  margin:0 auto;
}

h1 {
  
  font-family: 'Passion One';
  font-size: 50px;
  color: #2E7BB3;
  letter-spacing: 1.6rem;
  top: calc(80% - 200px);
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  opacity: .68;
  z-index: 2001;
}

a {
	color: white;
	font-size: 15px;
}

.youtube-window {
  
    float: left;
    width: 550px;
    height: 250px;
    margin-left: 450px;
    margin-top: -515px;
    padding-top: 50px;
}

.title {
  margin-bottom: 60px;
}




.shuffle {
  
    display: block;
    margin-top: 10px;
    margin-left: 145px;
    width: 100px;
}

.back-button {
  
    display: block;
    margin-top: 10px;
    margin-left: 100px;
    width: 200px;
}



.middle {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}





$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    float: right;
    margin-top: -305px;
    margin-right: 115px;

  }
}