/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";
@import "social-share-button";
@import "font-awesome";


body {
	
	background-color: black;
}




.form {
	
  display:block;
  width:50%;
  margin:0 auto;
}

h1 {
  
  font-family: 'Passion One';
  font-size: 50px;
  color: #2E7BB3;
  letter-spacing: 1.6rem;
  top: calc(80% - 200px);
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  opacity: .68;
  z-index: 2001;
}

a {
	color: white;
	font-size: 15px;
}

.youtube-window {
  
    float: left;
    width: 550px;
    height: 250px;
    margin-left: 450px;
    margin-top: -515px;
    padding-top: 50px;
}

.title {
  margin-bottom: 60px;
}
.img {
    
  float: left;
}


.shuffle {
  
    display: block;
    margin-top: 10px;
    margin-left: 145px;
    width: 100px;
}

.back-button {
  
    display: block;
    margin-top: 10px;
    margin-left: 100px;
    width: 200px;
}



$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    float: right;
    margin-top: -305px;
    margin-right: 115px;

  }
}