<div class="modal-dialog">
	<div class="modal-content">
  		<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;          </button>
    <h4 class="modal-title" id="myModalLabel"></h4>
  		</div>
    <div class="modal-body">
  <script type="text/javascript">
     onYouTubeIframeAPIReady('<%= video_id(@song)%>');
</script>
<div id="player"></div>
  <div id="player-wrapper"></div>
	<div class="modal-footer">
    <%= link_to "Shuffle!", shuttle_path(:username => @user, :current_song => @song) , remote:true , :class => "btn btn-primary" %> |
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  </div>
  </div>
</div>