<div class="row">
	     
	<% if @songs  %>
	 	<div class="title">
	 		
	 		<h1> Loved Songs </h1>
	 		
	 	</div>	
	
		<div class="col-ls">	
		
			<div id="songs">
				<%= render partial: 'song' , collection: @songs %>
			</div>
			
			<div id="paginator">
				<%= paginate @songs , remote: true %>
			</div>

		</div>

			<% if mobile_device? %>

				<div  id="myVideo"></div>
				

			<% else %>

				<div class="col-ls">	
					<div class="video-window">
					 	<div  id="myVideo"></div>
					</div>	
				</div>
			<% end %>
	<% else %>	
	
	<h1> Youtube + LastFM Player </h1>
	
	<% end %>
</div>

	