<h1> Youtube + LastFM Player </h1>
<% if @songs  %>
<h1> Loved Songs </h1>
<div id="songs">
<%= render partial: 'song' , collection: @songs %>
<% end %>
</div>
<div id="paginator">
	<%= paginate @songs , remote: true %>
</div>
<div class="container"> 
	<div class="youtube-window">
		  

		<div class="video" id="myVideo"></div>


	</div>	
</div> 
