<div class="container">
  <div class="row justify-content-start">
    <div class="col">
     <% if @songs  %>
     	<div class="title">
     		<h1> Loved Songs </h1>
     		<%= image_tag("music.png", :class => "img") %>
     	</div>	
		<div class="container" id="songs">
			<% content_for :title do %>
	  	<title> <%= @songs.first.title %> </title>
	<% end %>
		<%= render partial: 'song' , collection: @songs %>
		</div>
		<div id="paginator">
			<%= paginate @songs , remote: true %>
		</div>

	<% else %>	
	 <h1> Youtube + LastFM Player </h1>
	<% end %>
    </div>
    <div class="col">
	     <div class="youtube-window">
		 	<div class="video" id="myVideo"></div>
		 </div>	
    </div>
  </div>
</div>