  	
 			<!--  <button type="button" class="btn btn-warning paint-black" onclick=" chBackcolor('white');"> Paint it black!</button> -->
 	<div class="middle">
 		<i class="fa fa-lightbulb-o fa-3x light-buld" aria-hidden="true"></i>
		<i class="fa fa-toggle-on fa-2x active" id="on" style="display:none;"></i>
		<i class="fa fa-toggle-on fa-2x fa-rotate-180 inactive" ></i>
	</div> 
	<p class="muted credit">
	 
	 <center>
		<small>Written by
			<a href="https://github.com/Hatemachine01">Julio Vasquez </a>
			</small>
	</center>


